@forward './../../scss/_reset.scss';
@use './../../scss/index.scss' as *;
@use './../../scss/_reset.scss' as *;

.game {
    &__board {
        width: 100vw;
        height: 100vh;
        font-size: $sz15;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $backgroundPage;
        color: $colorText;
    }
}

.board {
    &__title {
        font-size: $sz3;
        cursor: default;
        font-style: italic;
        margin: $sz1;

        &::selection {
            background-color: transparent;
        }
    }
}

.content {

    &__header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}

.header {

    &__button {
        height: max-content;
        width: max-content;
        color: $colorButton;
        cursor: pointer;
        font-size: $sz4;

        &:hover {
            color: $colorButtonHover;
        }
    }
}