@import '../../scss/_vars.scss';
@import '../../scss/_reset.scss';

@import '../../components/TicTacToe/Board/Board.scss';
@import '../../components/TicTacToe/Square/Square.scss';
@import '../../components/TicTacToe/Turn/Turn.scss';
@import '../../components/TicTacToe/Win/Win.scss';
@import '../../components/TicTacToe/WinnerModal/WinnerModal.scss';

.game {
    &__tictactoe {
        width: 100vw;
        height: 100vh;
        font-size: map-get($map: $fontSize, $key: 'fs1.5');
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: map-get($map: $tictactoe, $key: "secondColor");
        color: map-get($map: $tictactoe, $key: "thirdColor");
    }
}

.tictactoe {
    &__title {
        font-size: map-get($map: $fontSize, $key: 'fs4');
        cursor: default;
        font-style: italic;
        margin: 1rem;

        &::selection {
            background-color: transparent;
        }
    }
}

.content {

    &__header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}

.header {

    &__button {
        height: max-content;
        width: max-content;
        color: map-get($map: $tictactoe, $key: 'thirdColor');
        cursor: pointer;
        font-size: 4em;

        &:hover {
            color: map-get($map: $tictactoe, $key: 'firstColor');
        }
    }
}