@use '../../scss/index.scss' as *;
@use '../../scss/_reset.scss';

p,
div {
    &::selection {
        background-color: transparent;
    }
}

body {
    background-color: $colorBackground;
}

.game {
    position: relative;
    @include wh(100vw, 100vh);


    &__guessNumber {
        position: relative;
        @include flex(column);
        @include wh(100%, 100%);
        color: $colorNormalText;
    }
}

.guessNumber {
    &__title {
        position: relative;
        font-size: $sz2;
        margin: $sz1 auto;
        color: $colorNormalText;
    }

    &__content {
        position: relative;
        @include grid(column, 3);
        margin-top: $sz1;
        border-radius: 5px;
    }

    &__alertNumber {
        @include grid(column, 3);
        margin-top: $sz1;
    }
}

.title {
    &__text {
        position: relative;
        text-align: center;
        font-style: italic;
        z-index: 2;

        &--mirror {
            position: absolute;
            color: $colorButtonSuccessHover;
            text-align: center;
            top: 0;
            right: -0.15rem;
            z-index: 1;
        }
    }
}