@use '../../scss/index.scss' as *;
@use '../../scss/_reset.scss';

p,
div {
    &::selection {
        background-color: transparent;
    }
}

.game {
    position: relative;

    &__guessNumber {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
        height: 100vh;
        background-color: $colorBackground;
        color: $colorNormalText;
    }
}

.guessNumber {
    &__title {
        position: relative;
        font-size: $sz2;

        margin: $sz1 auto;
        color: $colorNormalText;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: $sz1;
        border-radius: 5px;
        position: relative;
    }

    &__alertNumber {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: $sz1;
    }
}

.title {
    &__text {
        position: relative;
        text-align: center;
        font-style: italic;
        z-index: 2;

        &--mirror {
            position: absolute;
            color: $colorButtonSuccessHover;
            text-align: center;
            top: 0;
            right: -0.15rem;
            z-index: 1;
        }
    }
}