@use './../../../scss/index.scss' as *;

.win {
    font-size: $sz4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    &__content {
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
        padding: 3px;
        background-color: $cl2;
        border-radius: 5px;
    }

    &__reset {
        color: $cl2;
        font-size: 0.8em;

        i {
            width: max-content;
            height: max-content;
            cursor: pointer;
        }

        :hover {
            color: $cl1;
            transition: 0.1s color ease;
        }
    }
}

.content {
    &__icon {
        color: $cl1;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    &__winsNums {
        color: $cl5;
        display: flex;
        align-self: center;
        justify-self: center;
    }
}