@use './../../../scss/index.scss' as *;

.win {
    font-size: $sz4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    &__content {
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
        padding: 3px;
        background-color: $colorButton;
        border-radius: 5px;

        &:hover {
            background-color: $colorButtonHover;
            transition: background-color 0.1s ease;
        }

        & .content__icon {
            color: $backgroundPage;
            display: flex;
            align-self: center;
            justify-self: center;
        }

        & .content__winsNums {
            color: $colorText;
            display: flex;
            align-self: center;
            justify-self: center;
            cursor: default;

            &::selection {
                background-color: transparent;
            }
        }


    }

    &__reset {
        color: $colorButton;
        font-size: 0.8em;

        i {
            width: max-content;
            height: max-content;
            cursor: pointer;
        }

        :hover {
            color: $colorButtonHover;
            transition: 0.1s color ease;
        }
    }
}