.number {
    // background-color: palegoldenrod;
    font-size: map-get($map: $fontSize, $key: 'fs3');
    display: flex;
    justify-content: center;

    &__alert {
        background-color: map-get($map: $guessNumber, $key: 'thirdColor');
        color: map-get($map: $guessNumber, $key: 'firstColor');
        font-size: map-get($map: $fontSize, $key: 'fs4');
        padding: 12px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px map-get($map: $guessNumber, $key: 'thirdColor');
    }

    &__icon {
        color: map-get($map: $guessNumber, $key: 'firstColor');
        font-size: map-get($map: $fontSize, $key: 'fs4');
    }
}

.icon {
    display: flex;
    align-items: center;

    &--invert {
        transform: rotate(180deg);
        display: flex;
        align-items: center;
    }
}