.inputNumber {
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 0.2em;
    border-radius: 5px;
    font-size: map-get($map: $fontSize, $key: 'fs2.5');
    color: map-get($map: $guessNumber, $key: 'thirdColor');
    background-color: map-get($map: $guessNumber, $key: 'secondColor');
    box-shadow: 1px 1px 8px 1px map-get($map: $guessNumber, $key: 'thirdColor');

    &__title {
        position: relative;

        &--mirror {
            position: absolute;
            top: 0;
            left: -4px;
            color: map-get($map: $guessNumber, $key: 'firstColor');
        }
    }

    &__number {
        font-size: 2.0rem;
        display: flex;
        align-items: center;
        color: map-get($map: $guessNumber, $key: 'fourthColor');
        font-weight: map-get($map: $fontWeight, $key: 'fw700');
    }

}