@use '../../../scss/index.scss' as *;

.inputNumber {
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 0.2em;
    margin-left: $sz1;
    border-radius: 5px;
    font-size: $sz25;
    color: $colorBackground;
    background-color: $colorButtonSuccess;
    box-shadow: 1px 1px 8px 1px $colorButtonSuccessHover;

    &__title {
        position: relative;

        &--mirror {
            position: absolute;
            top: 0;
            left: -4px;
            color: $colorButtonSuccessHover;
        }
    }

    &__number {
        font-size: 2.0rem;
        display: flex;
        align-items: center;
        color: $colorNormalText;
        font-weight: $fw700;
        position: relative;

        & .number__content {
            position: relative;
            z-index: 2;

            &--mirror {
                position: absolute;
                color: $colorBackground;
                left: 0.15rem;
                z-index: 1;
            }
        }
    }

}