@use '../../../scss/index.scss' as *;

.tries {
    position: absolute;
    top: $sz1;
    right: $sz1;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: $sz05;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    color: $colorNormalText;

    .description {
        position: relative;

        &__text {
            font-size: $sz15;
            position: relative;
            z-index: 2;

            &--mirror {
                position: absolute;
                color: $colorButtonSuccessHover;
                top: 0;
                left: 0.15rem;
                z-index: 1;
            }
        }
    }

    .countTries {
        position: relative;

        &__tries {
            font-size: $sz25;
            position: relative;
            z-index: 2;

            &--mirror {
                position: absolute;
                color: $colorButtonSuccessHover;
                top: 0;
                left: 0.15rem;
                z-index: 1;
            }
        }
    }
}