@use './../../../scss/index.scss' as *;

.winner {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #0a0a0a, $alpha: .9);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &__notification {
        background-color: $colorBackground;
        width: 30rem;
        height: max-content;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px $colorTitleText;
        padding: $sz1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.notification {
    &__title {
        font-size: $sz25;
        color: $colorTitleText;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            font-size: $sz4;
            color: $colorButtonNormalHover;
        }
    }
}

.reset {
    &__button {
        color: $colorNormalText;
        font-size: $sz4;
        margin-top: 0.7em;
        transition: color 0.1s ease;
        cursor: pointer;
        padding: 0;

        &:hover {
            color: $colorTitleText;
            transition: color 0.1s ease;
        }
    }
}