.numbers {
    // background-color: map-get($map: $colors, $key: 'xcolorBDark');
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    font-size: 2em;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    font-weight: 800;
    padding: 10px;
    color: map-get($map: $colors, $key: 'xcolorPNormal');

    &--left {
        height: auto;
        display: flex;
        justify-content: end;
        gap: 10px;
        padding-right: 1.6rem;
        border-right: 3px solid map-get($map: $colors, $key: 'xcolorG');
    }

    &--right {
        height: auto;
        overflow-y: auto;
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: 1.6rem;
        border-left: 3px solid map-get($map: $colors, $key: 'xcolorG');
    }

    &__tall {
        background-color: map-get($map: $colors, $key: 'xcolorG');
        height: max-content;
        width: max-content;
        border-radius: 5px;
        padding: 5px;
        //color: map-get($map: $colors, $key: 'xcolorBNormal');
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            color: map-get($map: $colors, $key: 'xcolorBLight');
            width: max-content;
            height: max-content;
            transform: rotate(180deg);
            font-size: 1.1rem;
        }
    }

    &__low {
        background-color: map-get($map: $colors, $key: 'xcolorG');
        width: max-content;
        height: max-content;
        font-size: 1.5rem;
        display: flex;
        padding: 5px;
        flex-direction: row;
        justify-content: center;
        border-radius: 5px;
        align-items: center;

        i {
            color: map-get($map: $colors, $key: 'xcolorBLight');
            width: max-content;
            height: max-content;
            font-size: 1.1rem;
        }
    }

    &__input {}
}

.input {
    &__alert {}
}