.numbers {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0px;
    padding: 10px;
    font-size: map-get($map: $fontSize, $key: 'fs2');
    font-weight: map-get($map: $fontWeight, $key: 'fw800');
    color: map-get($map: $guessNumber, $key: 'firstColor');

    &--left {
        height: auto;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-wrap: wrap-reverse;
        gap: 10px;
        padding-right: map-get($map: $fontSize, $key: 'fs1.5');
        border-right: 3px solid map-get($map: $guessNumber, $key: 'thirdColor');
    }

    &--right {
        height: auto;
        overflow-y: auto;
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: map-get($map: $fontSize, $key: 'fs1.5');
        border-left: 3px solid map-get($map: $guessNumber, $key: 'thirdColor');
    }

    &__tall {
        height: max-content;
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 5px;
        padding: 5px;
        font-size: map-get($map: $fontSize, $key: 'fs1.5');
        background-color: map-get($map: $guessNumber, $key: 'thirdColor');

        i {
            width: max-content;
            height: max-content;
            transform: rotate(180deg);
            font-size: map-get($map: $fontSize, $key: 'fs1');
            color: map-get($map: $guessNumber, $key: 'fourthColor');
        }
    }

    &__low {
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        font-size: map-get($map: $fontSize, $key: 'fs1.5');
        background-color: map-get($map: $guessNumber, $key: 'thirdColor');

        i {
            width: max-content;
            height: max-content;
            font-size: map-get($map: $fontSize, $key: 'fs1');
            color: map-get($map: $guessNumber, $key: 'fourthColor');
        }
    }

    &__input {}
}

.input {
    &__alert {}
}