@use '../../../scss/index.scss' as *;

.displayGuessNumber {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    color: $colorNormalText;

    .show {
        position: relative;
        top: -10rem;

        &__number {
            position: relative;
            z-index: 2;

            &--mirror {
                position: absolute;
                top: 0;
                left: .15rem;
                z-index: 1;
                color: $colorButtonSuccessHover;
            }
        }
    }
}