@use './../../../scss/index.scss' as *;

.winnerModal {
    position: absolute;
    @include flex(column, center, center);
    @include wh(100vw, 100vh);
    font-size: $sz2;
    z-index: 3;
    background-color: rgba($color: #000000, $alpha: 0.8);

    .modal {
        @include wh(max-content, max-content);
        @include flex(column, inherit, inherit);
        padding: $sz15;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px $colorButtonSuccessHover;
        background-color: $colorButtonSuccess;

        .info {

            @include wh(max-content, max-content);
            @include flex(row, inherit);
            margin-bottom: $sz2;
            gap: $sz2;
            color: $colorNormalText;


            .title {
                @include flex(column, inherit, center);
                padding: $sz1;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: 0.8);

                .text {
                    position: relative;
                    @include flex(column, inherit, inherit);
                    font-weight: $fw700;
                    font-style: italic;

                    &__show {
                        position: relative;
                        z-index: 2;


                        &--mirror {
                            position: absolute;
                            top: 0;
                            left: 0.15rem;
                            color: $colorButtonSuccessHover;
                            z-index: 1;
                        }
                    }
                }

                .value {
                    position: relative;
                    @include flex(column, inherit, inherit);

                    &__win {
                        position: relative;
                        @include wh(max-content, max-content);
                        z-index: 2;

                        &--mirror {
                            position: absolute;
                            top: 0;
                            left: 0.15rem;
                            color: $colorButtonSuccessHover;
                            z-index: 1;
                        }
                    }
                }
            }

            .content {
                @include flex(column, inherit, center);
                padding: $sz1;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: 0.8);

                .text {
                    position: relative;
                    @include flex(column, inherit, inherit);
                    font-weight: $fw700;
                    font-style: italic;

                    &__show {
                        position: relative;
                        z-index: 2;


                        &--mirror {
                            position: absolute;
                            top: 0;
                            left: 0.15rem;
                            z-index: 1;
                            color: $colorButtonSuccessHover;
                        }
                    }
                }

                .value {
                    position: relative;
                    @include flex(column, inherit, inherit);

                    &__times {
                        position: relative;
                        z-index: 2;

                        &--mirror {
                            position: absolute;
                            top: 0;
                            left: 0.15rem;
                            color: $colorButtonSuccessHover;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .actions {

            .info {
                position: relative;
                @include flex(column);
                @include wh(100%, auto);
                font-style: italic;

                &__text {
                    position: relative;
                    z-index: 2;

                    &--mirror {
                        position: absolute;
                        @include wh(max-content, auto);
                        top: 0;
                        left: 0.15rem;
                        color: $colorButtonSuccessHover;
                        z-index: 1;
                    }
                }

            }

            .content {
                @include flex(column, center, center);

                .number {
                    @include flex(row, inherit, inherit);
                    // @include grid(column, 3, none, inherit);
                    // @include wh(max-content, max-content);
                    // background-color: aqua;

                    .start {
                        @include wh(max-content, max-content);
                        @include flex(column, inherit inherit);
                        padding: $sz1;
                        border-radius: 5px;
                        background-color: rgba($color: #000000, $alpha: 0.8);

                        .content {
                            position: relative;

                            &__text {
                                position: relative;
                                @include wh(max-content, max-content);
                                z-index: 2;

                                &--mirror {
                                    position: absolute;
                                    top: 0;
                                    left: 0.15rem;
                                    color: $colorButtonSuccessHover;
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    .description {
                        @include wh(max-content, max-content);
                        @include flex(column, inherit, inherit);
                        padding: $sz1;
                        border-radius: 5px;

                        .content {
                            position: relative;

                            &__text {
                                position: relative;
                                z-index: 2;

                                &--mirror {
                                    position: absolute;
                                    top: 0;
                                    left: 0.15rem;
                                    color: $colorButtonSuccessHover;
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    .end {
                        @include wh(max-content, max-content);
                        @include flex(row, center, start);
                        padding: $sz1;
                        border-radius: 5px;
                        background-color: rgba($color: #000000, $alpha: 0.8);

                        .content {
                            position: relative;
                            overflow-y: auto;

                            &__text {
                                position: relative;
                                max-width: 10rem;
                                z-index: 2;

                                &--mirror {
                                    position: absolute;
                                    max-width: 10rem;
                                    top: 0;
                                    left: 0.15rem;
                                    color: $colorButtonSuccessHover;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}