@use './../../../scss/index.scss' as *;

.board {
    &__square {
        display: grid;
        align-items: center;
        justify-content: center;
        border: 1px solid $colorNormalText;
        color: $colorButtonNormalHover;
        font-size: $sz4;
        font-weight: $fw700;
        cursor: pointer;

        /*select text color*/
        &::selection {
            background-color: transparent;
        }

    }

    &__square--top {
        border-top: none;
    }

    &__square--left {
        border-left: none;
    }

    &__square--right {
        border-right: none;
    }

    &__square--bottom {
        border-bottom: none;
    }
}

.turn {
    &__square {
        padding: $sz1 $sz15;
        color: $colorButtonNormal;
        font-weight: $fw700;
        transition: color 0.2s ease;
    }

    &__square--is-selected {
        background-color: $colorButtonNormalHover;
        color: $colorBackground;
        border-radius: 5px;
        transition: color 0.2s ease;
        transition: background-color 0.3s ease;
        transition: border 0.3s ease;
    }
}