$clGrey: #0D171C;
$clGreen: #2A9D8F;
$clYellow: #E9C46A;
$clOrange: #F4A261;
$clRed: #E76F51;

$cl1: #F2E9E4;
$cl2: #C9ADA7;
$cl3: #9A8C98;
$cl4: #4A4E69;
$cl5: #22223B;




// $purple1: #E394F7;
// $purple2: #BA6DCE;
// $purple3: #9148A6;
// $purple4: #6A237F;
// $purple5: #45005B;

// $blue1: rgb(160, 201, 255);
// $blue2: #6db1e2;
// $blue3: #39a1d5;
// $blue4: #004E81;
// $blue5: #002C5A;

// $red1: #E73131;
// $red2: #C6001A;
// $red3: #A50003;
// $red4: #850000;
// $red5: #670000;

// $green: #3EEE4E;
// $green: #00BE19;
// $green: #008F00;
// $green: #006300;
// $green: #003900;

// $yellow1: #FFFF00;
// $yellow2: #C3C800;
// $yellow3: #899400;
// $yellow4: #556300;
// $yellow5: #333500;

// // $grey1: #94B5C0;
// // $grey2: #6F8F99;
// // $grey3: #4B6A74;
// // $grey4: #294852;
// // $grey5: #052831;

// $grey5: #485A60;
// $grey4: #66797F;
// $grey3: #869AA0;
// $grey2: #A8BCC2;
// $grey1: #CADFE6;

// $white: #f0f0f0;
// $black: #0f0f0f;