// Button color
$colorButtonNormal: #8e609a;
$colorButtonNormalHover: #e394f7;
$colorButtonSuccess: #245c56;
$colorButtonSuccessHover: #2A9D8F;
$colorButtonAlert: #DCE053;
$colorButtonAlertHover: #FFFB8C;
$colorButtonDanger: #BD4873;
$colorButtonDangerHover: #FF306E;

// Text color
$colorNormalText: #F6FFDE;
$colorNormalTextMirror: #CDE6B1;
$colorTitleText: #E9FF91;
$colorTitleTextMirror: #6f864f;

// Background color
$colorBackground: #072938;
$colorBackgroundMirror: #285061;