@use 'sass:map';

$tictactoe: (
    'firstColor': #e394f7,
    'secondColor': #2a4360,
    'thirdColor': #fff7d0
);

$guessNumber: (
    'firstColor': #febe7e,
    'secondColor': #ec7263,
    'thirdColor': #a75265,
    'fourthColor': #57385c,
);

$colors: (
    // cube palette: https://mycolor.space/?hex=%23e394f7&sub=1
    'tictactoe--colorNormal': #e394f7,
    'tictactoe--colorDark': #2a4360,
    'tictactoe--colorLight': #fff7d0,
    // cube palette: https://mycolor.space/?hex=%232CD9B0&sub=1






    'xcolorPLight': #e394f7,
    'xcolorPNormal': #9197fd,
    'xcolorBLight': #0095ed,
    'xcolorBNormal': #008ec9,
    'xcolorBDark': #00809a,
    'xcolorG': #006f67,

);

$fontWeight: (
    'fw100':100,
    'fw200':200,
    'fw300':300,
    'fw400':400,
    'fw500':500,
    'fw600':600,
    'fw700':700,
    'fw800':800,
    'fw900':900,
);