@use '../../../scss/index.scss' as *;

.listNumbers {
    @include flex(row, flex-start, flex-start);
    @include wh(auto, max-content);
    flex-wrap: wrap;
    padding: 0.7rem;
    gap: $sz05 $sz1;
    margin: $sz1;
    border-radius: 5px;
    font-size: $sz1;
    background-color: $colorButtonSuccess;
    box-shadow: 0px 0px 10px 0px $colorButtonSuccessHover;

    .content {
        @include flex(row);
        @include wh(max-content, max-content);
        padding: .3rem;
        border-radius: 5px;
        background-color: $colorBackground;

        .icon {
            position: relative;
            color: $colorNormalText;

            &__arrow {
                position: relative;
                z-index: 2;

                &--mirror {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $colorButtonSuccessHover;
                    left: 0.15rem;
                    z-index: 1;
                }
            }
        }

        .number {
            position: relative;
            color: $colorNormalText;

            &__text {
                position: relative;
                z-index: 2;

                &--mirror {
                    position: absolute;
                    top: 0;
                    left: 0.15rem;
                    color: $colorButtonSuccessHover;
                    z-index: 1;
                }
            }
        }

        &--alert {
            color: $colorBackground;
            background-color: #b14545;
            box-shadow: 0px 0px 5px 0px #BF250D;
            transition: all 0.15s ease;

            .icon {

                &__arrow {
                    &--mirror {
                        color: #cb250f;
                    }
                }
            }

            .number {

                &__text {
                    &--mirror {
                        color: #cb250f;
                    }
                }
            }
        }

    }
}