.showNumber {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    color: map-get($map: $guessNumber, $key: 'firstColor');

    &__show {
        position: absolute;
        top: -1.5em;
    }
}