@use '../../../scss/index.scss' as *;

.showNumber {
    // background-color: palegoldenrod;
    position: relative;
    font-size: $sz3;
    display: flex;
    justify-content: center;

    .number {
        position: relative;
        width: max-content;
        color: $colorNormalText;
        font-size: $sz4;
        padding: 12px;
        border-radius: 5px;
        z-index: 2;

        &__display {
            position: relative;
            width: max-content;
            z-index: 2;

            &--mirror {
                position: absolute;
                width: max-content;
                top: 0.75rem;
                left: 1rem;
                color: $colorButtonSuccessHover;
                z-index: 1;
            }
        }
    }

    .icon {
        position: relative;
        display: flex;
        align-items: center;
        color: $colorNormalText;
        font-size: $sz4;
        z-index: 2;

        &__arrow {
            position: relative;
            z-index: 2;

            &--mirror {
                position: absolute;
                color: $colorButtonSuccessHover;
                left: 0.15rem;
                top: 0.75rem;
                z-index: 1;
            }
        }
    }
}